<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
      url="http://localhost:3000/apitechu/v5/login/{{email}}/{{password}}"
      method="GET"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarErrorLogin">
    </iron-ajax>

    <div class="row">
      <input type="email" value={{email::input}} />
      <input type="password" value={{password::input}} />
      <!-- on-click de polymer en lugar de onclick nativo de javascript-->
      <button on-click="logarse">Login</button>
      <h1 class="col-6">{{nombre}}</h1>
      <h2 class="col-6">{{apellido}}</h2>
      <h2 class="col-6">{{id}}</h2>
      <h2 class="col-6">{{logado}}</h2>
    </div>
    <span hidden$="{{!logado}}">Bienvenido de nuevo</span>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          id: {
            type: Number
          },
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          login: {
            type: Boolean,
            value:false
          }

        }
      }
      mostrarResultadoLogin(resultado) {
        console.log("4. llegaron los resultados")
        console.log(resultado)
        console.log("5. proceso los resultados")
        this.logado = true
        this.id = resultado.detail.response.id
        this.nombre = resultado.detail.response.nombre
        this.apellido = resultado.detail.response.apellido
        //this.nombre = resultado.detail.response.nombre
        //this.apellido = resultado.detail.response.apellido
      }
      mostrarErrorLogin(error) {
        // llega un codigo tipo 4xx, 5xx...
        console.log("4. llega un error")
        console.log(error)
        this.logado = false
      }
      logarse() {
        console.log("1. el usuario ha pulsado el boton")
        // this.$ es el shadow DOM de polymer
        console.log(this.email)
        console.log(this.password)
        this.$.hacerLogin.headers.email = this.email
        this.$.hacerLogin.headers.password = this.password
        console.log(this.$.hacerLogin.headers.email)
        console.log(this.$.hacerLogin.headers.password)
        console.log("2. voy a enviar la peticion")
        this.$.hacerLogin.generateRequest()
        console.log("3. peticion enviada")

      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
